@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em;
}
span {
  color: cornflowerblue;
  font-size: 48px;
}

#search-bar {
  width: 250px;
  height: 40px;
  padding-left: 1em;
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;

}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
#select-option {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 1em;
  text-align: center;
  outline: none;
  font-family: 'Montserrat', sans-serif;

}
.output {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 1em;
}